/*text{font-size:36px;}*/

body
{
background-repeat:no-repeat;
}

#chart rect {
  fill: steelblue;
}

#chart text {
  font: 11px sans-serif;
  text-anchor: end;
}

.first rect:hover {
	opacity:0.2;
}

.force-node:hover {
  fill: GreenYellow !important;
}

.force-node.selected {
  fill: GreenYellow !important;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.focus .axis path,
.focus .axis line {

  stroke:lightgrey;
  opacity:0.7;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#chart {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  border:1px solid;
}


.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


.area {
  fill: steelblue;
  clip-path: url(#clip);
}


button {
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-style: solid;
}

#chart {
   background-color: rgba(255, 255, 255, 0.8);

}

.rivalry select:option {
	width: 100px;
	padding: 1px;
	color:green;
	background-color:aquamarine;
}


.slice path:hover {
	fill: GreenYellow;
	opacity:0.6;
}

#matchview {
  margin-left:auto;
  margin-right:auto;
  width:1300px;
  text-align:center;
}

.split {
  margin-left: 90px;
  margin-right: 90px;
}

.node circle:hover {
	opacity:0.2 !important;
}

.paths.selected {
  fill: GreenYellow !important;
}

.listTeams:hover {
	opacity: 0.4;
}

text {
	cursor:default;
}

div {
	cursor:default;
}

body {
	font-family: sans-serif;
}

.toHighlight:hover {
	color:Grey !important;
}

.opac:hover {
	opacity: 0.2;
}

.opt {
	fill:white;
	stroke:black;
}
.opt text {
	fill:black;
	stroke:none;
	fill-opacity:1;
}

g.opt:hover{
	fill:black;
	fill-opacity:0.1;
}
g.opt.selected{
	fill:black;
	fill-opacity:0.1;
}

.fir:hover {
	opacity:1!important;
}

.sec:hover {
	opacity:1!important;
}

.hovered:hover {
	color:grey!important;
}

.line:hover {
	opacity:0.2;
}


.line.selected {
	opacity:0.2;
}
