
.borderSection {
  display: inline-block;
  border: 2px;
  border-style: solid;
  border-radius: 15px;
  vertical-align: top;
}
 teamA {
       white-space: pre;
  }
.title {
  margin-top: 5px;
  vertical-align: top;
}

#chart rect {
  fill: steelblue;
}

#chart text {
  font: 11px sans-serif;
  text-anchor: end;
}

.first rect:hover {
	opacity:0.2;
}

.force-node:hover {
  fill: GreenYellow !important;
}

.force-node.selected {
  fill: GreenYellow !important;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.focus .axis path,
.focus .axis line {

  stroke:lightgrey;
  opacity:0.7;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#chart {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  border:1px solid;
}


.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


.area {
  fill: steelblue;
  clip-path: url(#clip);
}


button {
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-style: solid;
}

#chart {
   background-color: rgba(255, 255, 255, 0.8);

}

.rivalry select:option {
	width: 100px;
	padding: 1px;
	color:green;
	background-color:aquamarine;
}


.slice path:hover {
	fill: GreenYellow;
	opacity:0.6;
}

#matchview {
  margin-left:auto;
  margin-right:auto;
  width:1300px;
  text-align:center;
}

.split {
  margin-left: 90px;
  margin-right: 90px;
}

.node circle:hover {
	opacity:0.2 !important;
}

.paths.selected {
  fill: GreenYellow !important;
}

.listTeams:hover {
	opacity: 0.4;
}

text {
	cursor:default;
}

div {
	cursor:default;
}

body {
	font-family: sans-serif;
	font-size:10px;
}

.toHighlight:hover {
	color:Grey !important;
}

.opac:hover {
	opacity: 0.2;
}

.opt {
	fill:white;
	stroke:black;
}
.opt text {
	fill:black;
	stroke:none;
	fill-opacity:1;
}

g.opt:hover{
	fill:black;
	fill-opacity:0.1;
}
g.opt.selected{
	fill:black;
	fill-opacity:0.1;
}

.fir:hover {
	opacity:1!important;
}

.sec:hover {
	opacity:1!important;
}

.hovered:hover {
	color:grey!important;
}

.line:hover {
	opacity:0.2;
}


.line.selected {
	opacity:0.2;
}




  #navcontainer
  {
  background: #f0e7d7;
  width: 30%;
  margin: 0 auto;
  padding: 1em 0;
  font-family: georgia, serif;
  font-size: 13px;
  text-align: center;
  text-transform: lowercase;
  }

  ul#navlist
  {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 70%;
  }

  ul#navlist li
  {
  display: block;
  margin: 0;
  padding: 0;
  }

  ul#navlist li a
  {
  display: block;
  width: 100%;
  padding: 0.5em 0 0.5em 2em;
  border-width: 1px;
  border-color: #ffe #aaab9c #ccc #fff;
  border-style: solid;
  color: #777;
  text-decoration: none;
  background: #f7f2ea;
  }

  #navcontainer>ul#navlist li a { width: auto; }

  ul#navlist li#active a
  {
  background: #f0e7d7;
  color: #800000;
  }

  ul#navlist li a:hover, ul#navlist li#active a:hover
  {
  color: #800000;
  background: transparent;
  border-color: #aaab9c #fff #fff #ccc;
  }


